<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>National Parks Biodiversity</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!--D3 cdn-->
  <script src="https://d3js.org/d3.v5.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.11.0/d3.js"></script>-->

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/CSS/style.css">
</head>

<body>

<span class="content_item non_wrapping">
  <span class="page_heading">
    <span>Drill down, and dig deep, with a table</span>
  </span>
</span>
<div id="DirectEditPreserve" class="wow fadeInUp databaseTable_holder 122860">
  <div id="DirectEditPreserve" class="databaseTable_heading">
    <div id="DirectEditPreserve" class="databaseTable_title">Test Table</div>
    <input id="DirectEditPreserve" class="databaseTable_search" type="text" width="200" placeholder="Search this table">
  </div>
  <div id="DirectEditPreserve" class="databaseTable">
    <div id="DirectEditPreserve" class="databaseTable_import_wrap" style="display: block;">
    </div>
    <div id="DirectEditPreserve" class="databaseTable_UI_scrollLeft databaseTable_UI_button" style="display: none;">
      <!-- JS shows/hides by appending the .hidden class -->
    </div>
    <div id="DirectEditPreserve" class="databaseTable_UI_scrollRight databaseTable_UI_button" style="display: none;">
      <!-- JS shows/hides by appending the .hidden class -->
    </div>
  </div>
</div>

  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  
  <!-- Our JS -->
  <script type="text/javascript" src="static/js/states.js"></script>
  <script type="text/javascript" src="static/js/parksLogic.js"></script>
  <script type="text/javascript" src="static/js/species.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
